body{
    margin: 10px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10;
    background-color: #ffe7f9;
}

.card{
    margin-bottom: 10px;
}

.btn-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}